// These styles are used for the product page (formerly known as start page) header and some similar pages.

// the header box at the top of the page
.website_header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 62px;
  background-color: var(--color-background);
  box-shadow: 0 5px 5px var(--color-shadow);
  z-index: 1;

  // all navigation links and buttons
  &_navigation {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: calc(100% - 160px);
    max-width: 1400px;
    height: calc(100% - 1px);
  }

  // for the text gradient of link texts
  &_text_gradient {
    font-weight: 600;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
  }

  // logo formatting used for the header
  &_logo {
    position: absolute;
    top: calc(50% - 1px);
    transform: translateY(-50%);
    height: 35px;
    font: 1.4rem var(--font-highlight);
    color: var(--color-font);
    line-height: 2.2rem;
    cursor: pointer;
  }

  // used for the header links like product, about, downloads etc.
  &_quicklinks {
    position: absolute;
    left: 160px;
    top: calc(50% - 1px);
    transform: translateY(-50%);
    width: calc(100% - 160px);
    height: 40%;

    // link texts
    &_link {
      display: inline;
      position: relative;
      font: 1.2rem var(--font-highlight);
      color: var(--color-font);
      text-decoration: none;
      margin-right: 30px;
      padding: 4px 6px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 200ms;

      // for the fading background box on hover
      &:hover { 
        background-color: var(--color-hover);
      }
    }

    // only for small screens
    &_space {
      display: none;
    }

    // only for small screens
    &_backdrop {
      position: fixed;
      left: 0;
      top: 62px;
      width: 100vw;
      height: calc(100vh - 62px);
      background-color: var(--color-backdrop);
      opacity: 0;
      z-index: -1;
      transition: opacity 600ms;
    }
  }
  
  // language and light/dark mode buttons
  &_settings_button { 
    position: absolute;
    right: 305px;
    top: calc(50% - 1px);
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    background-color: var(--color-transparent);
    cursor: pointer;
    transition: background-color 200ms;

    // visible border on hover
    &:hover {
      background-color: var(--color-hover);
    }

    // language button
    &:first-of-type {
      right: 305px;
    }

    // theme button
    &:last-of-type {
      right: 255px;
    }
  }

  // change language and visual mode symbol
  &_icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
  }

  // Sign in button
  &_sign_in {
    position: absolute;
    right: 120px;
    top: calc(50% - 1px);
    transform: translateY(-50%);
    font: 1.2rem var(--font-highlight);
    text-decoration: none;
    padding: 4px 6px 4px 6px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center; // fix for firefox
    transition: background-color 200ms;

    // for the fading background box on hover
    &:hover {
      background-color: var(--color-hover);
    }

    // alternative button for mobile screens
    &_alt {
      display: none;
    }
  }

  // register button, needed to be split in multiple classes, this class is for the positionig of the button
  &_register {
    position: absolute;
    right: 0;
    top: calc(50% - 1px);
    transform: translateY(-50%);
    font: 1.2rem var(--font-highlight);
    color: var(--color-white);
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 0.6rem;
    cursor: pointer;

    // the hover background was done in React because it did not work in CSS
    &_background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background: var(--color-highlight-gradient);
      z-index: -1;
      transition: filter 200ms;
    }

    // alternative button for mobile screens
    &_alt {
      display: none;
    }
  }

  // toggle button for small screen expandable side bar
  &_mobile_sidebar_button {
    display: none; // the button is hidden by default
    position: absolute;
    right: 15px;
    top: calc(50% - 1px);
    transform: translateY(-50%) rotate(90deg);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-transparent);
    cursor: pointer;
    transition: background-color 200ms;

    // expand sidebar for small screens symbol
    &::after {
      content: '|||';
      font: 1.2rem var(--font-highlight);
      font-weight: 600;
      color: var(--color-font-gray);
      letter-spacing: 0.2rem;
      text-align: center;
      margin-left: -0.05rem;
    }

    // visible border on hover
    &:hover {
      background-color: var(--color-hover);
    }
  }

  // scroll indicator bar at the bottom
  &_scroll_indicator {
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 2px;
    background: var(--color-highlight-gradient);
  }
}

// fixing sidebar backdrop of too large screens
@media (min-width: 961px) {
  .website_header_quicklinks_backdrop {
    display: none !important; // overwrites dynamic inline styles on large screens in order to hide the backdrop
  }
}

// changes for medium screen sizes (e.g. tablets, smaller laptops etc.)
@media (max-width: 1200px) {  
  .website_header_navigation {
    width: 100%;
  }

  .website_header_logo {
    left: 10px;
  }

  .website_header_quicklinks {
    left: 150px;
    width: calc(100% - 150px);

    &_link {
      margin-right: 20px;
    }
  }

  .website_header_settings_button:first-of-type {
    right: 300px;
  }

  .website_header_settings_button:last-of-type {
    right: 245px;
  }

  .website_header_sign_in {
    right: 120px;
  }

  .website_header_register {
    right: 10px;
  }
}

// changes for small screen sizes (e.g. mobile devices)
// many links are now hidden and can be shown in a seperate expandable window
@media (max-width: 960px) {
  .website_header_quicklinks { // changes to mobile sidebar
    left: unset;
    top: 62px;
    transform: translateY(0);
    width: 262px;
    max-width: 100%;
    height: calc(100vh - 60px);
    border-top: 1px solid var(--color-font-gray);
    box-shadow:  0 10px 5px 5px var(--color-shadow);
    background-color: var(--color-background);
    overflow: auto;
    transition: right 600ms;

    &_space {
      display: block;
      position: absolute;
      top: 390px;
      width: 100%;
      height: 16px;
    }
  }
    
  // rearranging links and changing design
  .website_header_quicklinks_link {
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 70px);
    text-align: left;
    padding: 16px 16px 16px 16px;
    border-bottom: 1px solid var(--color-font-gray);
    border-radius: 0;
  }

  .website_header_settings_button {
    top: 375px;
    transform: translate(-50%, -50%);

    &:first-of-type {
      right: 50px;
    }

    &:last-of-type {
      right: 3px;
    }
  }

  .website_header_sign_in {
    top: 320px;
    left: 35px;
    transform: translateY(-50%);
    width: 62px;

    // sign in button staying at the top
    &_alt {
      display: block;
      position: absolute;
      right: 160px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.2rem;
      color: var(--color-font);
      font-family: var(--font-highlight);
      text-decoration: none;
      padding: 4px 6px 4px 6px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 200ms;

      &:hover { // for the fading background box on hover
        background-color: var(--color-hover);
      }
    }
  }

  .website_header_register {
    top: 320px;
    right: 35px;
    transform: translateY(-50%);

    // register button staying at the top
    &_alt {
      display: block;
      position: absolute;
      right: 60px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.2rem;
      color: var(--color-white);
      font-family: var(--font-highlight);
      text-align: center;
      text-decoration: none;
      padding: 0.5rem 0.6rem;
      cursor: pointer;
    }
  }

  .website_header_mobile_sidebar_button {
    display: block;
  }
}

// hiding overlapping items on very small screen sizes
@media (max-width: 360px) {
  .website_header_sign_in_alt {
    display: none;
  }

  .website_header_register_alt {
    display: none;
  }
}

// visual fix for too small screens
@media (max-width: 180px) {
  .website_header_mobile_sidebar_button {
    display: none;
  }
}
