// These styles are used for the product page (formerly known as start page) footer and some similar pages.

// basic footer container
.website_footer {
  position: absolute;
  margin-top: auto;
  left: 0;
  width: 100%;
  background-color: var(--color-background-dark);

  // shape at the top for a better transition between sections
  &_transition {
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;

    // actual shapes
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      height: 0;
      width: 30vw;
      border-bottom: 40px solid var(--color-background-dark);
    }

    // trapezoid shape at the top left
    &::before {
      left: 0;
      border-right: 40px solid var(--color-transparent);
    }

    // trapezoid shape at the top right
    &::after {
      right: 0;
      border-left: 40px solid var(--color-transparent);
    }
  }

  // gap between left and right section
  &_flex_gap {
    flex-grow: 1;
  }

  // bar before the navigation links
  &_top {
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 160px);
    max-width: 1400px;
    font: 0.9rem var(--font-default);
    color: var(--color-font-gray);
    line-height: 1.4rem;
    margin-top: 60px;

    // project logo on the left
    &_logo {
      width: 220px;

      // actual logo
      img {
        height: 35px;
        font: 1.4rem var(--font-highlight);
        color: var(--color-font);
        line-height: 2.2rem;
        margin-bottom: -8px;
      }
    }

    // social media links
    &_social {
      margin: 51px 56px 0 0;
      height: 32px;

      // social media icon links
      a {
        display: inline-block;
        width: 32px;
        height: 32px;
        color: var(--color-font-gray);
        margin-inline: 8px;
        border-radius: var(--border-radius);
        transition: background-color 200ms;

        // circle hover effect
        &:hover {
          background-color: var(--color-hover-light);
        }

        // actual icon
        img {
          transform: translate(12.5%, 12.5%); // centers the icon
          width: 80%;
          height: 80%;
        }
      }
    }

    // newsletter subscription box
    &_newsletter {
      width: 212px;

      // input field for email
      input {
        position: absolute;
        width: 160px;
        height: 30px;
        font: 1rem var(--font-default);
        color: var(--color-font);
        padding-inline: 10px;
        background-color: var(--color-hover-light);
        border: none;
        border-radius: 4px 0 0 4px;
        outline: none;
      }

      // submit button
      button {
        position: absolute;
        width: 32px;
        height: 32px;
        margin-left: 180px;
        background-color: var(--color-transparent);
        border: none;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        overflow: hidden;

        // send icon
        img {
          position: relative;
          left: 45%;
          transform: translateX(-50%);
          height: 100%;
        }

        // background
        div {
          position: relative;
          left: -6px;
          top: -34px;
          width: 32px;
          height: 32px;
          background: var(--color-highlight-gradient);
          transition: filter 200ms;
          z-index: -1;
        }
      }
    }
  }

  // values for setting up the column layout
  &_content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 160px);
    max-width: 1400px;
    padding: 60px 0 140px;

    // layout optimization
    > * {
      display: inline-block;
      width: 160px;
      margin-right: 40px;
      vertical-align: top;
    }

    // column heading
    h3 {
      background: var(--color-highlight-gradient);
      font: 600 1.2rem var(--font-highlight);
      color: var(--color-font);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--color-transparent);
    }

    // list of links
    ul {
      margin-left: -40px;
      list-style: none; // removes bullet points
    }

    // column list items
    li,
    a {
      width: fit-content;
      font: 1.1rem var(--font-default);
      color: var(--color-font);
      text-decoration: none;
      line-height: 1.5;
      white-space: nowrap;
      cursor: pointer;
      transition: color 200ms, transform 400ms;

      // hover effect
      &:hover {
        transform: translateX(4px);
        color: var(--color-font-gray);
      }
    }
  }

  // dark box at the bottom
  &_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-background-dark-plus);

    // positioning container for the text inside the box
    &_content {
      display: flex;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 160px);
      max-width: 1400px;
      font: 0.9rem var(--font-default);
      color: var(--color-font-gray);
      line-height: 1.2rem;
      gap: 24px;
    }

    // cookie settings, language select and change theme links
    &_link {
      cursor: pointer;
      transition: color 200ms;

      // hover effect for text
      &:hover {
        color: var(--color-font);
      }

      // icons next to the link
      img {
        height: 1.1rem;
        margin: 0 0.1rem -0.2rem 0.1rem;
      }
    }
  }
}

// mobile layout
@media (max-width: 960px) {
  // the top transition shapes are smaller on mobile devices to look better
  .website_footer_transition::before,
  .website_footer_transition::after {
    width: 20vw;
  }

  .website_footer_top {
    flex-direction: column;
    align-items: center;
    width: calc(100% - 40px);
    margin-top: 80px;

    &_logo img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    &_logo p {
      text-align: center;
    }

    &_social {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      height: unset;
      margin: 24px 0 8px;

      a {
        margin-bottom: 16px;
      }
    }

    &_newsletter {
      height: 84px;
    }
  }

  .website_footer_content {
    text-align: center;
    width: calc(100% - 20px);

    > * {
      margin-inline: 20px;
    }

    li {
      margin-inline: auto;
    }
  }

  .website_footer_bottom_content {
    width: calc(100% - 20px);
  }
}

// fixes for the bottom links
@media (max-width: 600px) {
  .website_footer_flex_gap {
    display: none;
  }

  .website_footer_content {
    margin-bottom: 100px;
  }
  
  .website_footer_bottom_content {
    flex-direction: column-reverse;
    text-align: center;
    line-height: 1rem;
    padding: 0;
  }
}

// hides footer on to small screens
@media (max-width: 240px) {
  .website_footer {
    display: none;
  }
}
