// These styles are used for the product page (formerly known as start page) footer and some similar pages.

// basic footer container
.website_footer {
  position: absolute;
  margin-top: auto;
  left: 0;
  width: 100%;
  background-color: var(--color-background-dark);

  // shape at the top for a better transition between sections
  &_transition {
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;

    // actual shapes
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      height: 0;
      width: 30vw;
      border-bottom: 40px solid var(--color-background-dark);
    }

    // trapezoid shape at the top left
    &::before {
      left: 0;
      border-right: 40px solid var(--color-transparent);
    }

    // trapezoid shape at the top right
    &::after {
      right: 0;
      border-left: 40px solid var(--color-transparent);
    }
  }

  // bar before the navigation links
  &_top {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 160px);
    max-width: 1400px;
    margin-top: 60px;
    background-color: red;

    // project logo on the left
    &_logo {
      width: 240px;
      font: 0.8rem var(--font-default);
      color: var(--color-font-gray);
      line-height: 1.2rem;
      
      // actual logo
      img {
        height: 35px;
        font: 1.4rem var(--font-highlight);
        color: var(--color-font);
        line-height: 2.2rem;
      }
    }

    // social media links and newsletter
    &_social {
      position: relative;
      right: 0;
    }
  }





  &_content { // values for setting up the column layout
    display: flex;
    gap: 20px;
    padding: 80px 8% 180px 8%;

    > * { // layout optimization
      flex: 1; // used for equal columns
    }
  }

  &_heading { // column header
    background: var(--color-highlight-gradient);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-font);
    font-family: var(--font-highlight);
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
  }

  &_link { // column list items
    display: block;
    width: fit-content;
    font-size: 1.1rem;
    color: var(--color-font);
    font-family: var(--font-default);
    text-decoration: none;
    line-height: 1.5;
    white-space: nowrap;
    cursor: pointer;
    transition: color 200ms, transform 400ms;

    &:hover { // hover effect
      transform: translateX(4px);
      color: var(--color-font-gray);
    }
  }

  &_bottom_box { // dark box at the bottom
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: var(--color-background-dark-plus);

    &_copyright { // copyright text
      position: absolute;
      left: 30px;
      top: 20px;
      font-size: 0.8rem;
      color: var(--color-font-gray);
      font-family: var(--font-default);
      white-space: nowrap;
    }

    &_language { // language select at the bottom of the footer
      position: absolute;
      right: 160px;
      top: 20px;
      font-size: 0.8rem;
      color: var(--color-font-gray);
      font-family: var(--font-default);
      transition: color 200ms;
      cursor: pointer;

      &:hover { // hover effect for text
        color: var(--color-font);
      }
    }

    &_theme { // the text to change the theme at the bootom of the footer
      position: absolute;
      right: 30px;
      top: 20px;
      font-size: 0.8rem;
      color: var(--color-font-gray);
      font-family: var(--font-default);
      transition: color 200ms;
      cursor: pointer;

      &_:hover { // hover effect for text
        color: var(--color-font);
      }
    }

    &_social_media { // positioning for the social media icons
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 220px;
      height: 40px;

      &_circle { // circle around the icons
        position: absolute;
        width: 36px;
        height: 36px;
        border: 2px solid var(--color-font);
        border-radius: 50%; // circle shape
        cursor: pointer;
        transition: background-color 200ms;
  
        &:hover { // background hover effect
          background-color: var(--color-hover-light);
        }
      }

      &_icon { // icons for the different social media platforms
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 60%;
        filter: var(--svg-invert); // for making the icons white
      }
    }
  }
}

@media (max-width: 1160px) { // small optimization for small screens
  .website_footer_content {
    padding: 80px 4% 180px 4%;
  }
}

@media (max-width: 960px) { // mobile layout
  // the top transition shapes are smaller on mobile devices to look better
  .website_footertransition_left {
    width: 20vw;
  }
  .website_footer_transition_right {
    width: 20vw;
  }

  .website_footer_content {
    flex-wrap: wrap;
  }

  // font size will be smaller
  .website_footer_heading {
    font-size: 0.9rem;
  }

  .website_footer_link {
    font-size: 0.8rem;
  }

  .website_footer_bottom_box_language {
    right: 30px;
    top: 4px;
  }

  .website_footer_bottom_box_theme {
    top: unset;
    bottom: 4px;
  }
}

@media (max-width: 660px) { // two rows of items are formed
  .website_footer_bottom_box {
    height: 120px;
  }

  .website_footer_bottom_box_copyright {
    left: 50%;
    top: unset;
    bottom: 0;
    transform: translateX(-50%);
  }

  .website_footer_bottom_box_language {
    left: 30px;
    top: unset;
    bottom: 24px;
  }

  .website_footer_bottom_box_theme {
    top: unset;
    bottom: 24px;
  }

  .website_footer_bottom_box_social_media {
    top: 25%;
  }
}

@media (max-width: 300px) { // small fix
  .website_footer_bottom_box_language {
    left: 8px;
  }

  .website_footer_bottom_box_theme {
    right: 8px;
  }
}

@media (max-width: 240px) { // hides footer on to small screens
  .website_footer {
    display: none;
  }
}
