// styles for the language select modal

// language select modal/box
.website_language_select {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: calc(100% - 40px);
  max-height: calc(100% - 40px);
  background-color: var(--color-background);
  border-radius: 12px;
  transition: transform 400ms, opacity 400ms; // fade in/out animation transition
  z-index: 4;
  overflow-y: auto;

  // x-button for closing modal
  &_close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--color-transparent);
    cursor: pointer;
    transition: background-color 200ms;

    // x-shape
    &::after {
      content: '×'; // symbol for shape
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      color: var(--color-font-gray);
    }

    // background on hover
    &:hover {
      background-color: var(--color-hover);
    }
  }

  // modal title
  &_title {
    font: 1.8rem var(--font-highlight);
    text-align: center;
    margin: 32px 20px 24px 20px;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
  }

  // language list
  &_languages {
    width: fit-content;
    font: 1.4rem var(--font-highlight);
    color: var(--color-font);
    line-height: 2.4rem;
    text-align: center;
    list-style: none;
    padding-left: 0;
    margin: 40px auto 32px;
  }

  // single language items
  li {
    padding: 2px 8px;
    margin: 0 8px 8px 8px;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 200ms;

    // for the fading background box on hover
    &:hover {
      background-color: var(--color-hover);
    }

    // actual select buttons
    a {
      color: var(--color-font);
      text-decoration: none;
    }

    // flags next to languages
    img {
      display: inline;
      height: 2rem;
      margin: 0 0.5rem -0.5rem 0;
    }
  }
}

// fixes overlapping with title and colose button
@media (max-width: 380px) {
  .website_language_select_title {
    margin-top: 48px;
  }
}

// hides modal on to small screens
@media (max-width: 240px) {
  .website_language_select {
    display: none;
  }
}
