// These styles are used for the alert showing on too small screens

// container and text formatting
.window_size_alert {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  min-width: 100px;
  max-width: calc(100% - 32px);
  max-height: 90vh;
  text-align: center;
  font-size: 1.1rem;
  color: var(--color-font);
  font-family: var(--font-default);
  padding: 12px;
  border-radius: 4px;
  background-color: var(--color-background);

  // backdrop for warning
  &_backdrop {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-backdrop);
    z-index: 3;
  }

  // container header
  &_heading {
    background: var(--color-highlight-gradient);
    font-size: 1.2rem;
    font-family: var(--font-highlight);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
  }
}

// defining screen width for showing the warning
@media (max-width: 240px) {
  .window_size_alert,
  .window_size_alert_backdrop {
    display: block;
  }
}
