// In this file all classes for the terms of use, privacy policy and all other legal condition pages are defined

.legal_main { // main container
  position: relative;
  left: 50%;
  top: 120px;
  transform: translate(-50%);
  width: calc(100% - 320px);
  max-width: 2400px;
  padding: 40px 60px 80px 60px;
  margin-bottom: 320px;

  h1 { // the big page heading (<h1/>) of legal_main
    font-size: 2.8rem;
    font-family: var(--font-heading);
    margin-bottom: 60px;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
  }

  h2 { // all html sub headings (<h2/>) of legal_main
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-font);
    font-family: var(--font-highlight);
    margin-top: 60px;
    margin-bottom: 12px;
  }

  p { // all html text paragraps (<p/>) of legal_main
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-font);
    font-family: var(--font-default);
    line-height: 1.8rem;
    text-align: justify;
    margin-bottom: 0;
  }

  ul { // all html unordered lists (<ul/>) of legal_main
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-font);
    font-family: var(--font-default);
    line-height: 1.8rem;
    text-align: justify;
    margin-left: -16px;
    margin-bottom: 0;
    list-style: disc;
  }

  ol { // all html ordered lists (<ol/>) of legal_main
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-font);
    font-family: var(--font-default);
    line-height: 1.8rem;
    text-align: justify;
    margin-left: -16px;
    margin-bottom: 0;
    list-style: disc;
  }

  a { // all html links (<a/>) of legal_main
    color: var(--color-font-gray);
    transition: color 200ms;

    &:hover { // hover effect for all html links (<a/>) of legal_main
      color: var(--color-font);
    }
  }

  &_table_container { // container for tables enabling x-axis scrolling on smaller screens
    width: 100%;
    margin-bottom: 80px;
    overflow-x: auto;

    table { // all html tables (<table/>) of legal_main-table-container
      width: 100%;
      font-size: 1.1rem;
      color: var(--color-font);
      font-family: var(--font-default);
      line-height: 1.6rem;
      text-align: left;
      margin-top: 16px;
      border-spacing: 0; // removes space between cells
      border-collapse: collapse; // removes double border where cells touch
    }

    thead { // all html table header rows (<thead/>) of legal_main-table-container
      background-color: var(--color-hover);
    }

    th, td { // all html table (header) cells (<th/>, <td/>) of legal_main-table-container
      min-width: 100px;
      vertical-align: top;
      border: 1px solid var(--color-table);
      padding: 8px;

      &:nth-child(1) { // first column (name)
        width: 15%;
      }

      &:nth-child(2) { // second column (domain)
        width: 15%;
      }

      &:nth-child(3) { // third column (duration)
        width: 10%;
      }

      &:nth-child(4) { // fourth column (description)
        width: 50%;
      }

      &:nth-child(5) { // fifth column (provider)
        width: 10%;
      }
    }
  }
}

@media (max-width: 960px) { // removes space at the sides on small screens
  .legal_main {
    top: 60px;
    width: calc(100% - 40px);
    padding: 40px 0 80px 0;
  }
}

@media (max-width: 240px) { // hides the content on too small screens (when the warning modal is open)
  .legal_main {
    display: none;
  }
}