// These styles are used for the syntax highlighting colors of code blocks

// consistant colors
:root {
  --syntax-highlighting-add: #1aff5b26;
  --syntax-highlighting-add-select: #38e06240;
  --syntax-highlighting-delete: #ff526626;
  --syntax-highlighting-delete-select: #fb566940;
}

// dark mode colors
#dark {
  --syntax-highlighting-orange: #d19a66;
  --syntax-highlighting-purple: #c678dd;
  --syntax-highlighting-pink: #e06c75;
  --syntax-highlighting-green: #98c379;
  --syntax-highlighting-blue: #61afef;
  --syntax-highlighting-blue-cyan: #56b6c2;
  --syntax-highlighting-red: #be5046;
  --syntax-highlighting-gray: #5c6370;
  --syntax-highlighting-gray-light: #828997;
  --syntax-highlighting-gray-dark: #3a3f4b;
  --syntax-highlighting-gray-dark-plus: #262931;
  --syntax-highlighting-transparent: #abb2bf26;
  --syntax-highlighting-select: #99bbff0a;
}

//light mode colors
#light {
  --syntax-highlighting-orange: #b76b01;
  --syntax-highlighting-purple: #a626a4;
  --syntax-highlighting-pink: #e45649;
  --syntax-highlighting-green: #50a14f;
  --syntax-highlighting-blue: #4078f2;
  --syntax-highlighting-blue-cyan: #0184bc;
  --syntax-highlighting-red: #ca1243;
  --syntax-highlighting-gray: #8c8d93;
  --syntax-highlighting-gray-light: #696c77;
  --syntax-highlighting-gray-dark: #e5e5e6;
  --syntax-highlighting-gray-dark-plus: #f2f2f2;
  --syntax-highlighting-transparent: #383a4233;
  --syntax-highlighting-select: #383a420d;
}

code[class*='language-'], pre[class*='language-'] {
  background: var(--color-hover);
  color: var(--color-font-gray);
  text-shadow: var(--color-shadow);
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.7rem;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Print */
@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

.token.comment,
.token.prolog,
.token.cdata {
  color: var(--syntax-highlighting-gray);
}

.token.doctype,
.token.punctuation,
.token.entity {
  color: var(--color-font-gray);
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
  color: var(--syntax-highlighting-orange);
}

.token.keyword {
  color: var(--syntax-highlighting-purple);
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
  color: var(--syntax-highlighting-pink);
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value,
.token.attr-value > .token.punctuation {
  color: var(--syntax-highlighting-green);
}

.token.variable,
.token.operator,
.token.function {
  color: var(--syntax-highlighting-blue);
}

.token.url {
  color: var(--syntax-highlighting-cyan);
}

/* HTML overrides */
.token.attr-value > .token.punctuation.attr-equals,
.token.special-attr > .token.attr-value > .token.value.css {
  color: var(--color-font-gray);
}

/* CSS overrides */
.language-css .token.selector {
  color: var(--syntax-highlighting-pink);
}

.language-css .token.property {
  color: var(--color-font-gray);
}

.language-css .token.function,
.language-css .token.url > .token.function {
  color: var(--syntax-highlighting-cyan);
}

.language-css .token.url > .token.string.url {
  color: var(--syntax-highlighting-green);
}

.language-css .token.important,
.language-css .token.atrule .token.rule {
  color: var(--syntax-highlighting-purple);
}

/* JS overrides */
.language-javascript .token.operator {
  color: var(--syntax-highlighting-purple);
}

.language-javascript
  .token.template-string
  > .token.interpolation
  > .token.interpolation-punctuation.punctuation {
  color: var(--syntax-highlighting-red);
}

/* JSON overrides */
.language-json .token.operator {
  color: var(--color-font-gray);
}

.language-json .token.null.keyword {
  color: var(--syntax-highlighting-orange);
}

/* MD overrides */
.language-markdown .token.url,
.language-markdown .token.url > .token.operator,
.language-markdown .token.url-reference.url > .token.string {
  color: var(--color-font-gray);
}

.language-markdown .token.url > .token.content {
  color: var(--syntax-highlighting-blue);
}

.language-markdown .token.url > .token.url,
.language-markdown .token.url-reference.url {
  color: var(--syntax-highlighting-cyan);
}

.language-markdown .token.blockquote.punctuation,
.language-markdown .token.hr.punctuation {
  color: var(--syntax-highlighting-gray);
  font-style: italic;
}

.language-markdown .token.code-snippet {
  color: var(--syntax-highlighting-green);
}

.language-markdown .token.bold .token.content {
  color: var(--syntax-highlighting-orange);
}

.language-markdown .token.italic .token.content {
  color: var(--syntax-highlighting-purple);
}

.language-markdown .token.strike .token.content,
.language-markdown .token.strike .token.punctuation,
.language-markdown .token.list.punctuation,
.language-markdown .token.title.important > .token.punctuation {
  color: var(--syntax-highlighting-pink);
}

/* General */
.token.bold {
  font-weight: bold;
}

.token.comment,
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.namespace {
  opacity: 0.8;
}

/* Plugin overrides */
/* Selectors should have higher specificity than those in the plugins' default stylesheets */

/* Show Invisibles plugin overrides */
.token.token.tab:not(:empty):before,
.token.token.cr:before,
.token.token.lf:before,
.token.token.space:before {
  color: var(--syntax-highlighting-transparent);
  text-shadow: none;
}

/* Toolbar plugin overrides */
/* Space out all buttons and move them away from the right edge of the code block */
div.code-toolbar > .toolbar.toolbar > .toolbar-item {
  margin-right: 0.4em;
}

/* Styling the buttons */
div.code-toolbar > .toolbar.toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > span {
  background: var(--syntax-highlighting-gray-dark);
  color: var(--syntax-highlighting-gray-light);
  padding: 0.1em 0.4em;
  border-radius: 0.3em;
}

div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > span:hover,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > span:focus {
  background: var(--syntax-highlighting-gray-dark);
  color: var(--color-font-gray);
}

/* Line Highlight plugin overrides */
/* The highlighted line itself */
.line-highlight.line-highlight {
  background: var(--syntax-highlighting-select);
}

/* Default line numbers in Line Highlight plugin */
.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
  background: var(--syntax-highlighting-gray-dark);
  color: var(--color-font-gray);
  padding: 0.1em 0.6em;
  border-radius: 0.3em;
  box-shadow: 0 2px 0 0 var(--color-shadow); /* same as Toolbar plugin default */
}

/* Hovering over a linkable line number (in the gutter area) */
/* Requires Line Numbers plugin as well */
pre[id].linkable-line-numbers.linkable-line-numbers
  span.line-numbers-rows
  > span:hover:before {
  background-color: var(--syntax-highlighting-select);
}

/* Line Numbers and Command Line plugins overrides */
/* Line separating gutter from coding area */
.line-numbers.line-numbers .line-numbers-rows,
.command-line .command-line-prompt {
  border-right-color: var(--syntax-highlighting-transparent);
}

/* Stuff in the gutter */
.line-numbers .line-numbers-rows > span:before,
.command-line .command-line-prompt > span:before {
  color: var(--syntax-highlighting-gray);
}

/* Match Braces plugin overrides */
/* Note: Outline colour is inherited from the braces */
.rainbow-braces .token.token.punctuation.brace-level-1,
.rainbow-braces .token.token.punctuation.brace-level-5,
.rainbow-braces .token.token.punctuation.brace-level-9 {
  color: var(--syntax-highlighting-pink);
}

.rainbow-braces .token.token.punctuation.brace-level-2,
.rainbow-braces .token.token.punctuation.brace-level-6,
.rainbow-braces .token.token.punctuation.brace-level-10 {
  color: var(--syntax-highlighting-green);
}

.rainbow-braces .token.token.punctuation.brace-level-3,
.rainbow-braces .token.token.punctuation.brace-level-7,
.rainbow-braces .token.token.punctuation.brace-level-11 {
  color: var(--syntax-highlighting-blue);
}

.rainbow-braces .token.token.punctuation.brace-level-4,
.rainbow-braces .token.token.punctuation.brace-level-8,
.rainbow-braces .token.token.punctuation.brace-level-12 {
  color: var(--syntax-highlighting-purple);
}

/* Diff Highlight plugin overrides */
/* Taken from https://github.com/atom/github/blob/master/styles/variables.less */
pre.diff-highlight > code .token.token.deleted:not(.prefix),
pre > code.diff-highlight .token.token.deleted:not(.prefix) {
  background-color: var(--syntax-highlighting-delete);
}

pre.diff-highlight > code .token.token.deleted:not(.prefix)::-moz-selection,
pre.diff-highlight > code .token.token.deleted:not(.prefix) *::-moz-selection,
pre > code.diff-highlight .token.token.deleted:not(.prefix)::-moz-selection,
pre > code.diff-highlight .token.token.deleted:not(.prefix) *::-moz-selection {
  background-color: var(--syntax-highlighting-delete-select);
}

pre.diff-highlight > code .token.token.deleted:not(.prefix)::selection,
pre.diff-highlight > code .token.token.deleted:not(.prefix) *::selection,
pre > code.diff-highlight .token.token.deleted:not(.prefix)::selection,
pre > code.diff-highlight .token.token.deleted:not(.prefix) *::selection {
  background-color: var(--syntax-highlighting-delete-select);
}

pre.diff-highlight > code .token.token.inserted:not(.prefix),
pre > code.diff-highlight .token.token.inserted:not(.prefix) {
  background-color: var(--syntax-highlighting-add);
}

pre.diff-highlight > code .token.token.inserted:not(.prefix)::-moz-selection,
pre.diff-highlight > code .token.token.inserted:not(.prefix) *::-moz-selection,
pre > code.diff-highlight .token.token.inserted:not(.prefix)::-moz-selection,
pre > code.diff-highlight .token.token.inserted:not(.prefix) *::-moz-selection {
  background-color: var(--syntax-highlighting-add-select);
}

pre.diff-highlight > code .token.token.inserted:not(.prefix)::selection,
pre.diff-highlight > code .token.token.inserted:not(.prefix) *::selection,
pre > code.diff-highlight .token.token.inserted:not(.prefix)::selection,
pre > code.diff-highlight .token.token.inserted:not(.prefix) *::selection {
  background-color: var(--syntax-highlighting-add-select);
}

/* Previewers plugin overrides */
/* Based on https://github.com/atom-community/atom-ide-datatip/blob/master/styles/atom-ide-datatips.less and https://github.com/atom/atom/blob/master/packages/one-dark-ui */
/* Border around popup */
.prism-previewer.prism-previewer:before,
.prism-previewer-gradient.prism-previewer-gradient div {
  border-color: var(--syntax-highlighting-gray-dark-plus);
}

/* Angle and time should remain as circles and are hence not included */
.prism-previewer-color.prism-previewer-color:before,
.prism-previewer-gradient.prism-previewer-gradient div,
.prism-previewer-easing.prism-previewer-easing:before {
  border-radius: 0.3em;
}

/* Triangles pointing to the code */
.prism-previewer.prism-previewer:after {
  border-top-color: var(--syntax-highlighting-gray-dark-plus);
}

.prism-previewer-flipped.prism-previewer-flipped.after {
  border-bottom-color: var(--syntax-highlighting-gray-dark-plus);
}

/* Background colour within the popup */
.prism-previewer-angle.prism-previewer-angle:before,
.prism-previewer-time.prism-previewer-time:before,
.prism-previewer-easing.prism-previewer-easing {
  background: var(--syntax-highlighting-gray-dark-plus);
}

/* For angle, this is the positive area (eg. 90deg will display one quadrant in this colour) */
/* For time, this is the alternate colour */
.prism-previewer-angle.prism-previewer-angle circle,
.prism-previewer-time.prism-previewer-time circle {
  stroke: var(--color-font-gray);
  stroke-opacity: 1;
}

/* Stroke colours of the handle, direction point, and vector itself */
.prism-previewer-easing.prism-previewer-easing circle,
.prism-previewer-easing.prism-previewer-easing path,
.prism-previewer-easing.prism-previewer-easing line {
  stroke: var(--color-font-gray);
}

/* Fill colour of the handle */
.prism-previewer-easing.prism-previewer-easing circle {
  fill: var(--color-transparent);
}
