// styles for the pie chart below the main page

.donate_statistics { // container with content
  display: flex; // needed for the column layout
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 1400px;
  margin-bottom: 380px;

  &_chart { // pie chart positioning
    position: relative;
    max-width: 400px;
    margin-inline: 40px;
    transition: color 400ms;

    &_label { // label in the center of the chart
      position: absolute;
      left: 240px;
      top: 200px;
      transform: translate(-50%, -50%);
      width: 220px;
      text-align: center;

      h3 { // label heading
        font-size: 2.4rem;
        font-weight: 500;
        color: var(--color-font);
        font-family: var(--font-highlight);
        margin-top: 0;
        margin-bottom: 10px;
      }

      p { // label description
        font-size: 1.6rem;
        color: var(--color-font);
        font-family: var(--font-default);
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }

  &_section { // content sections next to the chart
    flex-basis: 50%;
    margin-inline: 40px;

    h2 { // section heading
      font-size: 2.4rem;
      font-weight: 500;
      color: var(--color-font);
      font-family: var(--font-highlight);
      margin-top: 0;
    }

    p, ul { // section content
      font-size: 1.4rem;
      color: var(--color-font);
      font-family: var(--font-default);
      line-height: 2.4rem;
      margin-bottom: -8px;
      list-style: none; // hides the default list bullet points
      list-style-position: outside;
    }

    li::before { // bullet point replacement
      margin-left: -40px;
      margin-right: 16px;
    }

    &_0::before { // list style color
      content: '\2B24'; // larger circle
      color: var(--color-highlight-gradient-green);
    }

    &_1::before { // list style color
      content: '\2B24'; // larger circle
      color: var(--color-highlight-gradient-blue);
    }

    &_2::before { // list style color
      content: '\2B24'; // larger circle
      color: var(--color-container-button);
    }

    &_3::before { // list style color
      content: '\2B24'; // larger circle
      color: var(--color-container);
    }

    &_default::before { // list style replacement for details
      content: '\2022';
    }

    &_box { // highlighted box
      font-size: 1.4rem;
      color: var(--color-font);
      font-family: var(--font-highlight);
      line-height: 2.4rem;
      text-align: center;
      padding: 8px;
      margin-bottom: -8px;
      background-color: var(--color-container);
      border-radius: 10px;
    }

    &_bottom_text { // text at the bottom of the page
      position: absolute;
      bottom: -60px;
      transform: translate(0, 100%);
      font-size: 1.2rem;
      color: var(--color-font);
      font-family: var(--font-default);
      line-height: 2.2rem;
      text-align: center;
      margin-inline: 40px;

      a { // link in the text at the bottom of the page
        color: var(--color-font-gray);
        transition: color 200ms;

        &:hover { // link hover effect
          color: var(--color-font);
        }
      }
    }
  }
}

@media (max-width: 1160px) { // changes the layout on smaller screens
  .donate_statistics {
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-bottom: 220px;

    &_chart_label {
      left: 50%;
    }

    &_section {
      max-width: 800px;

      &_bottom-text {
        position: relative;
        bottom: unset;
        transform: translate(0);
        max-width: 800px;
      }
    }
  }
}

@media (max-width: 420px) { // changes the margin of the chart on very small screens
  .donate-statistics {
    margin-bottom: 160px;

    &_chart {
      max-width: calc(100% - 40px);
      margin-bottom: 200px;

      &_label {
        top: calc(100vw + 60px);
      }
    }

    &_section-bottom-text {
      margin-inline: 20px;
      text-align: left;
    }
  }
}

@media (max-width: 240px) { // hides everything on too small screens
  .donate_statistics {
    display: none;
  }
}