// This stylesheet provides the design for the actual donation section.

.donate_donate { // main container
  position: relative;
  flex-basis: 50%;
  top: 140px;
  align-self: center;

  fieldset { // removes the borders of select rows
    display: flex;
    width: 65%;
    margin-bottom: 28px;
    border: none;
  }

  &_select { // option select button
    display: inline-block;
    flex-basis: 50%; // maximum size of the button
    cursor: pointer;

    input { // hides default radio button
      display: none;

      &:checked + .donate_donate_select_button { // background color change on toggle
        background-color: var(--color-container-button);
      }
    }

    &_button { // radio select background shape
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 52px;
      background-color: var(--color-container);
      cursor: pointer;
      transition: background-color 200ms;

      &:hover { // hover effect for select option
        background-color: var(--color-hover-button);
      }

      label { // option select label text
        font-size: 1.3rem;
        color: var(--color-font);
        font-family: var(--font-highlight);
        cursor: pointer;
      }

      &_left { // border radius for the left button
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &_right { // border radius for the right button
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }

  &_credit_card { // button to donate with credit card
    position: relative;
    width: 60%;
    height: 53px;
    margin-right: 14px;
    margin-top: -0.5px;
    background-color: var(--color-transparent);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;

    &_text { // text which is not supposed to change color
      position: absolute;
      left: 50%;
      top: 0.7rem;
      transform: translateX(-50%);
      font-size: 1.6rem;
      color: var(--color-white);
      font-family: var(--font-highlight);
      white-space: nowrap;
    }

    &_background { // the hover background was done in React because it did not work in CSS
      height: 100%;
      margin-inline: -6px;
      border-radius: var(--border-radius);
      background: var(--color-highlight-gradient);
      transition: filter 200ms;
    }
  }

  &_paypal { // button to donate with paypal
    width: 40%;
    height: 52px;
    margin-left: 14px;
    background-color: var(--color-paypal);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 200ms;

    &:hover { // hover effect for paypal button
      background-color: var(--color-paypal-hover);
    }

    img { // paypal logo on the button
      height: 60%;
      margin-left: -2px;
      margin-top: 4px;
    }
  }

  &_change_currency { // button to enable the currency selector
    display: block;
    transform: translateY(-10px);
    font-size: 0.9rem;
    color: var(--color-font-gray);
    margin-left: -4px;
    background-color: var(--color-transparent);
    border: none;
    cursor: pointer;

    &_select { // currency selector
      font-size: 0.9rem;
      color: var(--color-font-gray);
      padding: 6px 4px 6px 8px;
      margin-left: auto;
      margin-top: -20px;
      background-color: var(--color-background-dark);
      border-radius: var(--border-radius);
      outline: none;
    }
  }
}

@media (max-width: 1160px) { // changes the gap between text and donation settings on smaller screens
  .donate_donate fieldset {
    width: calc(100% - 60px);
  }
}

@media (max-width: 960px) { // changes the layout on small screens
  .donate_donate {
    width: calc(100% - 20px);

    fieldset {
      width: calc(100% - 32px);
    }
  }
}

@media (max-width: 400px) { // changes the layout on small screens
  .donate-donate {
    transform: scale(0.75);
    width: 140%;
  }
}