// styles used for the cookie banner settings view (when clicking the moreinformation-button)

// settings view box
.cookie_settings {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: calc(100% - 40px);
  height: 650px;
  max-height: calc(100% - 40px);
  background-color: var(--color-background);
  border-radius: var(--border-radius-modal);
  transition: transform 400ms, opacity 400ms; // fade in/out animation transition
  z-index: 4;

  // cookie settings title
  &_title {
    position: relative;
    top: 0;
    height: 72px;

    // small line at the bottom
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: calc(100% - 60px);
      height: 1px;
      background-color: var(--color-container);
    }

    // heading
    &_text {
      font: 2rem var(--font-highlight);
      text-align: center;
      padding-top: 20px;
      margin-top: 0;
      background: var(--color-highlight-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--color-transparent);
    }
  }

  // x-button for closing settings
  &_close {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 200ms;

    // x-shape
    &::after {
      content: '\d7'; // symbol for shape
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      color: var(--color-font-gray);
    }

    // background on hover
    &:hover {
      background-color: var(--color-hover);
    }
  }

  // area with scrollbar
  &_scroll {
    position: relative;
    width: calc(100% - 2px);
    height: calc(100% - 152px);
    overflow-y: auto;

    // custom scrollbar size
    &::-webkit-scrollbar {
      width: 8px;

      // hides bar background
      &-track {
        background-color: var(--color-transparent);
      }

      // custom scrollbar design
      &-thumb {
        background-color: var(--color-background-dark);
        border-radius: 4px;

        // hover effect
        &:hover {
          background-color: var(--color-background-dark-plus);
        }
      }
    }
  }

  // main description for the banner
  &_description {
    font-family: var(--font-default);
    color: var(--color-font);
    line-height: 1.5rem;
    text-align: justify;
    margin: 16px 40px 30px;
  }

  // contains toggle switches and labels
  &_container {
    margin: 0 40px 20px;
    padding: 8px 40px 24px;
    background-color: var(--color-container);
    border-radius: var(--border-radius);
  }

  // label for toggle switches
  &_label {
    font: 1.2rem var(--font-highlight);
    color: var(--color-font);
    margin: 16px 50px 0 0;

    // label description texts
    &_description {
      width: 100%;
      font-size: 0.95rem;
      color: var(--color-font);
      font-family: var(--font-default);
      line-height: 1.3rem;
      text-align: justify;
    }
  }

  // toggle switch
  &_switch {
    position: absolute;
    right: 80px;
    transform: translateY(-24px);
    width: 40px;
    height: 24px;

    // hides default checkbox
    input {
      display: none;

      // background color change on toggle
      &:checked + .cookie_settings_switch_slider {
        background-color: var(--color-highlight-gradient-blue);
      }

      // knob position change on toggle
      &:checked + .cookie_settings_switch_slider::before {
        transform: translateX(16px);
      }
    }

    // toggle slider background shape
    &_slider {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 30px;
      background-color: var(--color-background);
      transition: background-color 400ms;
      cursor: pointer;

      // static slider background shape
      &_static {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 30px;
        background-color: var(--color-highlight-gradient-blue);
        filter: saturate(0.4);
        cursor: default;
      }

      // slider knob (the circle)
      &::before,
      &_static::before {
        content: '';
        position: absolute;
        right: 4px;
        top: 4px;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: var(--color-container);
        transition: transform 400ms;
      }
      &::before {
        left: 4px;
      }
    }
  }

  // further information links at the bottom
  &_links {
    display: flex; // display: flex creates columns
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    gap: 8px;
    margin-top: 24px;
    text-align: center;

    // layout optimization
    > * {
      flex-grow: 1; // used for equal columns
    }
  }

  // link font style
  &_link {
    width: fit-content;
    font: 0.95rem var(--font-default);
    color: var(--color-font-gray);
    text-decoration: none;
    cursor: pointer;
    transition: color 200ms;

    // link hover effect
    &:hover {
      color: var(--color-font);
    }
  }

  // positioning for save/accept buttons
  &_buttons {
    position: relative;
    height: 80px;

    // small line at the top
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: calc(100% - 60px);
      height: 1px;
      background-color: var(--color-container);
    }
  }

  // equal properties for both buttons
  &_save,
  &_accept {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(50% - 56px);
    height: 30px;
    font: 1.4rem var(--font-highlight);
    padding: 8px 10px 34px;
    background-color: var(--color-container);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
  }

  // save current button
  &_save {
    left: 40px;
    color: var(--color-font);
    transition: background-color 200ms;

    // hover effect on button
    &:hover {
      background-color: var(--color-hover-button);
    }
  }

  // accept button, needed to be split in multiple classes, this class is for the positionig of the button
  &_accept {
    right: 40px;
    color: var(--color-white);

    // the hover background was done in React because it did not work in CSS
    &_background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius);
      background: var(--color-highlight-gradient);
      transition: 200ms;
      z-index: -1;
    }
  }
}

// some layout changes for very small screens
@media (max-width: 465px) {
  .cookie_settings_title_text {
    font-size: 1.6rem;
    text-align: left;
    margin-left: 30px;
  }

  .cookie_settings_scroll {
    width: 100%;
    height: calc(100% - 212px);
  }

  .cookie_settings_description {
    margin: 12px 30px 30px;
  }

  .cookie_settings_container {
    margin: 12px 30px 30px;
    padding: 8px 20px 24px;
  }

  .cookie_settings_switch {
    right: 48px;
  }

  .cookie_settings_links {
    flex-direction: column;
  }

  .cookie_settings_buttons {
    height: 140px;
  }

  .cookie_settings_save,
  .cookie_settings_accept {
    left: 30px;
    top: 100px;
    width: calc(100% - 60px);
  }
  .cookie_settings_accept {
    top: 40px;
  }
}

// some optimizations for very very small screens
@media (max-width: 310px) {
  .cookie_settings_title {
    height: 102px;

    &_text {
      margin-right: 60px;
    }
  }

  .cookie_settings_scroll {
    height: calc(100% - 242px);
  }
}

// some last changes fixing text overlapping
@media (max-width: 290px) {
  .cookie_settings_label {
    margin-bottom: 36px;
  }

  .cookie_settings_switch {
    transform: translateY(-30px);
  }

  .cookie_settings_save,
  .cookie_settings_accept {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

// hidden on too small screens
@media (max-width: 240px) {
  .cookie_settings {
    display: none;
  }
}

@media (max-height: 360px) {
  // changes scroll part because it becomes too small
  .cookie_settings {
    overflow-y: auto;

    &_scroll {
      height: unset;
    }
  }
}
