// These styles define the main layout of the most pages

// just used for layout adjustment
.default_main {
  position: relative;
  left: 50%; // centering the content on too large screens
  transform: translateX(-50%);
  width: calc(100% - 144px);
  max-width: 1400px; // looks better on large screen
  color: var(--color-font);
  margin-bottom: 120px;
  overflow-x: hidden;
  background-color: var(--color-background);

  // page heading
  &_title {
    font: 4rem var(--font-heading);
    text-align: center;
    margin: 80px 0 60px;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
  }

  // slogan at the top
  &_top_text {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 840px;
    max-width: calc(100% - 40px);
    font: 1.6rem var(--font-default);
    line-height: 2.6rem;
    text-align: center;
    margin-bottom: 80px;
  }

  // large image at the top
  &_top_image,
  &_top_video {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    max-width: 100%;
    margin-bottom: 120px;
    border-radius: var(--border-radius);
  }

  // same as top_image, just with a youtube video container
  &_top_video {
    aspect-ratio: 16 / 9;
    border: none;
  }

  // contains all of the main sections, is used for positioning
  &_container {
    display: flex;
    margin: 160px 0 200px;

    // children of container
    > * + * {
      margin-left: 60px;
    }

    // sub containers with the text inside
    &_sub {
      flex-basis: 45%;
      align-self: center;
    }
    
    // sub containers with the image inside
    &_image {
      flex-basis: 55%;
      align-self: center;
      width: 100%;

      // image rounded corners
      img {
        border-radius: var(--border-radius);
      }
    }
  }

  // heading font styling
  &_heading {
    font: 2.8rem var(--font-heading);
    line-height: 3.6rem;
    margin: 1.2rem 0 2rem;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
  }

  // text font styling
  &_text {
    font: 1.4rem var(--font-default);
    line-height: 2rem;
  }

  // list font styling
  &_list {
    list-style-type: none;

    // list container
    li {
      display: flex;
      font: 1.1rem var(--font-default);

      margin-top: -0.4rem 0;
      align-items: center;

      // list icon
      img {
        height: 2.4rem;
        margin: 0 1rem 0 -2.4rem;
        user-select: none;
      }

      // list heading
      h3 {
        font-family: var(--font-highlight);
        margin-bottom: 0.2rem;
        font-weight: 500;
      }

      // list description
      p {
        line-height: 2rem;
        margin-top: 0.2rem;
      }
    }
  }

  // basic layout of three columns for overview texts at the top
  &_overview {
    display: flex; // creates the column layout
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    gap: 100px; // gaps between child items
    margin: 80px 0 240px;

    // large section headings
    &_heading {
      font: 2.8rem var(--font-heading);
      line-height: 3.6rem;
      text-align: center;
      background: var(--color-highlight-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--color-transparent);
    }

    // children of overview
    > * {
      width: 200px;
      padding: 32px 16px 12px;
      background-color: var(--color-container);
      border-radius: var(--border-radius);
    }

    // images above the small texts
    &_image {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      height: 100px;
    }

    // small overview texts
    &_text {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      font: 1.4rem var(--font-default);
      line-height: 2rem;
      text-align: center;
      margin-top: 32px;
    }

    // bottom link button
    &_link {
      font: 1.4rem var(--font-highlight);
      color: var(--color-font);
      text-decoration: none;
      padding: 4px 6px;
      border-radius: var(--border-radius);
      transition: background-color 200ms;

      // for the fading background box on hover
      &:hover {
        background-color: var(--color-container-button);
      }

      // container thing
      &_container {
        text-align: center;
        margin-top: 28px;
      }
    }
  }
}

// small fix for medium sized screens
@media (max-width: 1200px) {
  .default_main {
    width: calc(100% - 40px);
  }
}

// simplyfied layout for smaller screens
@media (max-width: 960px) {
  .default_main_overview {
    flex-direction: column; // renders items above each other instead of next to each other
  }

  .default_main_heading {
    font-size: 3rem;
    hyphens: auto; // allows linebreaks within words
  }

  .default_main_text {
    font-size: 1.2rem;
  }

  .default_main_container {
    display: block;
    margin: 120px 0 20px;

    // children of container
    > * + * {
      margin-left: unset;
    }
  }
}

// pushes the footer down when the customer stories disappear
@media (max-width: 660px) {
  .default_main {
    margin-bottom: 240px;
  }
}

// hiding content for too small screens (where the warning displays)
@media (max-width: 240px) {
  .default_main {
    display: none;
  }
}

// animation classes
// class for triggering the fade in right animation
.default_main_animation_fade_in_right {
  animation: fade-in-right 200ms;
}
// the items move a bit to the left and get visible
@keyframes fade-in-right {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

// class for triggering the fade out right animation
.default_main_animation_fade_out_right {
  animation: fade-out-right 400ms;
}
// the items move a bit to the right and get invisible
@keyframes fade-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(40px);
    opacity: 0;
  }
}

// class for triggering the fade in left animation
.default_main_animation_fade_in_left {
  animation: fade-in-left 200ms;
}
// the items move a bit to the right and get visible
@keyframes fade-in-left {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

// class for triggering the fade out left animation
.default_main_animation_fade_out_left {
  animation: fade-out-left 400ms;
}
// the items move a bit to the right and get invisible
@keyframes fade-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-40px);
    opacity: 0;
  }
}
