// In this file all classes for the terms of use, privacy policy and all other legal condition pages are defined

// main container
.legal_main {
  position: relative;
  left: 50%;
  top: 120px;
  transform: translate(-50%);
  max-width: 1400px;
  font: 1.1rem var(--font-default);
  color: var(--color-font);
  text-align: justify;
  line-height: 1.8rem;
  padding: 40px 72px 80px;
  margin-bottom: 320px;

  // big page heading
  h1 {
    font: 2.8rem var(--font-heading);
    margin-bottom: 60px;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
  }

  // section headings
  h2 {
    font: 1.6rem var(--font-highlight);
    margin: 48px 0 12px;
  }

  // list margin
  ul,
  ol {
    margin-left: -16px;
  }

  // hyperlinks
  a {
    color: var(--color-font-gray);
    transition: color 200ms;

    // hyperlink hover effect
    &:hover {
      color: var(--color-font);
    }
  }

  // container for tables enabling x-axis scrolling on smaller screens
  &_table_container {
    width: 100%;
    margin-bottom: 80px;
    overflow-x: auto;

    // actual table (used for the detailed cookie information)
    table {
      width: 100%;
      line-height: 1.6rem;
      text-align: left;
      margin-top: 16px;
      border-spacing: 0; // removes space between cells
      border-collapse: collapse; // removes double border where cells touch
    }

    // highlighted table header rows
    thead {
      background-color: var(--color-hover);
    }

    // all html table and table header cells
    th,
    td {
      min-width: 100px;
      vertical-align: top;
      border: 1px solid var(--color-table);
      padding: 8px;

      // first (name) and second (domain) column
      &:nth-child(1),
      &:nth-child(2) {
        width: 15%;
      }

      // third (duration) and fifth (provider) column
      &:nth-child(3),
      &:nth-child(5) {
        width: 10%;
      }

      // fourth column (description)
      &:nth-child(4) {
        width: 50%;
      }
    }
  }
}

// removes space at the sides on small screens
@media (max-width: 960px) {
  .legal_main {
    top: 60px;
    padding: 40px 0 80px;
  }
}

// hides the content on too small screens (when the warning modal is open)
@media (max-width: 240px) {
  .legal_main {
    display: none;
  }
}
