// some extra styles for the layout and load more button of the release notes page

// layout container for the content
.releases_main {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 144px);
  max-width: 1400px;
  margin-bottom: 200px;

  // the big page heading
  &_title {
    position: relative;
    top: 160px;
    font: 2.8rem var(--font-heading);
    margin-bottom: 40px;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
  }

  // load more button
  button {
    position: relative;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    font: 1.6rem var(--font-highlight);
    color: var(--color-font);
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-transparent);
    cursor: pointer;
    transition: background-color 200ms;

    // for the fading background box on hover
    &:hover {
      background-color: var(--color-hover);
    }
  }
}

// smaller screen optimizations
@media (max-width: 1200px) {
  .releases_main {
    width: calc(100% - 40px);
  }
}

// hides the content on too small screens (when the warning modal is open)
@media (max-width: 240px) {
  .releases_main {
    display: none;
  }
}
