/*This stylesheet provides the design for the actual donation section.*/

.donate-donate { /*main container*/
    position: relative;
    flex-basis: 50%;
    top: 120px;
    align-self: center;
}

.donate-donate fieldset { /*removes the borders of select rows*/
    display: flex;
    width: 65%;
    margin-bottom: 28px;
    border: none;
}

.donate-donate-select { /*option select button*/
    display: inline-block;
    flex-basis: 50%; /*maximum size of the button*/
    cursor: pointer;
}
.donate-donate-select input { /*hides default radio button*/
    display: none; 
}
.donate-donate-select-button { /*radio select background shape*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 52px;
    background-color: var(--color-container);
    cursor: pointer;
    transition: background-color 200ms;
}
.donate-donate-select-button:hover { /*hover effect for select option*/
    background-color: var(--color-hover-button);
}
.donate-donate-select-button label { /*option select label text*/
    font-size: 1.3rem;
    color: var(--color-font);
    font-family: var(--font-highlight);
    cursor: pointer;
}
.donate-donate-select input:checked + .donate-donate-select-button { /*background color change on toggle*/
    background-color: var(--color-highlight-gradient-green);
}
.donate-donate-select-button-left { /*border radius for the left button*/
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.donate-donate-select-button-right { /*border radius for the right button*/
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.donate-donate-credit-card { /*button to donate with credit card*/
    width: 60%;
    height: 52px;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.donate-donate-paypal { /*button to donate with paypal*/
    width: 40%;
    height: 52px;
    margin-left: 20px;
    background-color: var(--color-paypal);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.donate-donate-paypal img { /*paypal logo on the button*/
    height: 60%;
    margin-top: 4px;
}

.donate-donate-change-currency {
    display: block;
    margin-top: -20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.donate-donate-change-currency-select {
    margin-left: auto;
    margin-top: -20px;
    background-color: var(--color-background);
}