/*here are the styles used for the older versions in the release notes, the current version at the top is using a seperate stylesheet*/

.old-release { /*main container*/
    position: relative;
    left: 50%;
    top: 120px;
    transform: translate(-50%);
    width: calc(100% - 320px);
    max-width: 2400px;
    padding: 24px 0 80px 0;
    margin-bottom: 120px;
    background-color: var(--color-container);
    border-radius: 12px;
}
.old-release-date span { // date at the top of the section
    color: var(--color-font-gray);
    text-align: left;
}
.old-release h1 { /*all html headings (<h1/>) of old-release*/
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-font);
    font-family: var(--font-highlight);
    margin: 20px 40px 32px 40px;
}
.old-release h2 { /*all html sub headings (<h2/>) of old-release*/
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-font);
    font-family: var(--font-highlight);
    margin: 40px 40px 24px 40px;
}
.old-release p { /*all html text paragraps (<p/>) of old-release*/
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-font);
    font-family: var(--font-default);
    line-height: 1.9rem;
    text-align: justify;
    margin: 12px 40px 0 40px;
}
.old-release ul { /*all html unordered lists (<ul/>) of old-release*/
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-font);
    font-family: var(--font-default);
    line-height: 1.9rem;
    text-align: justify;
    margin: 12px 40px 0 20px;
    list-style: disc;
}
.old-release ol { /*all html ordered lists (<ol/>) of old-release*/
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-font);
    font-family: var(--font-default);
    line-height: 1.9rem;
    text-align: justify;
    margin: 12px 40px 0 20px;
    list-style: decimal;
}
.old-release img { // all html mages (<img/>) of old-release
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 80px);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.old-release figcaption { // all html image captions (<figcaption/>) of old-release
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-font-gray);
    font-family: var(--font-default);
    line-height: 1.8rem;
    text-align: justify;
    margin: -20px 80px 20px 80px;
}
.old-release code { // all html inline code (<code/>) of old-release
    font-size: 1.1rem;
    color: var(--color-font-code);
    padding: 2px 4px;
    background-Color: var(--color-container-button);
    border-Radius: 4px;
}

@media (max-width: 960px) { /*removes space at the sides on small screens*/
    .old-release {
        width: calc(100% - 40px);
        padding: 10px 0 56px 0;
    }
    .old-release h2 {
        margin: 20px 20px 32px 20px;
    }
    .old-release h3 {
        margin: 40px 20px 12px 20px;
    }
    .old-release p {
        margin: 20px 20px 0 20px;
    }
    .old-release ul {
        margin: 20px 20px 0 20px;
    }
    .current-release img {
        width: 100%;
    }
    .current-release figcaption {
        margin: -20px 20px 20px 20px;
    }
}