// styles for the header with title, date, authoe etc. at the top of each post

// formatting for all header content
.blog_post_header {
  font: 1.2rem var(--font-default);

  // a back to all posts link
  &_all_posts {
    position: absolute;
    left: 0;
    top: 12px;
    color: var(--color-font);
    font-family: var(--font-highlight);
    text-decoration: none;
    padding: 4px 6px;
    margin-bottom: 12px;
    border-radius: var(--border-radius);
    transition: background-color 200ms;

    // hover effect for back to all posts link
    &:hover {
      background-color: var(--color-hover);
    }
  }

  // container with content
  &_content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 60%;
  }

  // date of publication and topic (with link)
  &_data {
    color: var(--color-font-gray);

    // link to topic on blog page
    &_link {
      color: var(--color-font);
      text-decoration: none;
      transition: color 200ms;

      // hover effect for link
      &:hover {
        color: var(--color-font-gray);
      }
    }
  }

  // the blog title
  h1 {
    font: 2.8rem var(--font-heading);
    line-height: 3.4rem;
    margin-top: -10px;
  }

  // mention of the post author
  &_author {
    color: var(--color-font-gray);
    margin: -28px 0 160px;
  }

  // reading time indicator at the side
  &_reading_time {
    position: relative;
    left: 0;
    line-height: 2.2rem;
    margin: 100px 0 -74px;
  }

  // share links
  &_share {
    position: relative;
    left: 0;
    top: 80px;
    height: 90px;
    color: var(--color-font-gray);
    margin-bottom: -90px;

    // share link buttons
    a {
      position: relative;
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-right: 12px;
      border-radius: var(--border-radius);
      cursor: pointer;
      transition: background-color 200ms;

      // background hover effect
      &:hover {
        background-color: var(--color-hover-light);
      }

      // icons for the different social media platforms
      img {
        transform: translate(12.5%, 12.5%); // centers the icon
        width: 80%;
        height: 80%;
      }
    }
  }
}

// optimizes layout for smaller screens for better readability
@media (max-width: 1200px) {
  .blog_post_header_all_posts {
    position: relative;
    left: 40px;
    top: 0;
  }

  .blog_post_header_content {
    max-width: calc(100% - 80px);
  }

  .blog_post_header_reading_time {
    left: 40px;
    margin-top: -100px;
  }

  .blog_post_header_share {
    left: 40px;
    margin-bottom: 120px;
  }
}

// fixes some objects moving out of the screen
@media (max-width: 700px) {
  .blog_post_header_all_posts,
  .blog_post_header_reading_time,
  .blog_post_header_share {
    left: 0;
  }

  .blog_post_header_content {
    max-width: 100%;
  }
}

// hides everything on too small screens
@media (max-width: 240px) {
  .blog_post_header {
    display: none;
  }
}
