// styles used for the menu sidebar for to filter the posts

// sidebar container
.blog_sidebar {
  position: sticky; // pushes the sidebar up on scroll when the footer is reached
  top: 164px;
  width: 200px;
  height: 400px;
  font: 1.2rem var(--font-default);
  color: var(--color-font);
  margin-bottom: 250px;
  border-right: 1px solid var(--color-container);

  // the component heading/title
  h1 {
    position: relative;
    font: 2.8rem var(--font-heading);
    margin: 0 0 -110px;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
  }

  // a small text under the heading
  p {
    position: relative;
    top: 110px;
    line-height: 1.4rem;
    margin-right: 20px;
  }

  // line between description and links
  hr {
    position: relative;
    left: -45px;
    top: 114px;
    width: 80px;
    border: none;
    border-top: 1px solid var(--color-container);
  }

  // filter links
  ul {
    position: relative;
    left: -40px;
    top: 118px;
    list-style: none; // removes bullet points

    // list items
    li {
      margin-top: 0.5rem;
      cursor: pointer;

      //styles for the react router links of the list
      a {
        font-size: 1.2rem;
        color: var(--color-font);
        text-decoration: none;
        transition: color 200ms;
  
        // link hover effect
        &:hover {
          color: var(--color-font-gray);
        }
      }
    }
  }
}

// optimizations for smaller screens
@media (max-width: 960px) {
  .blog_sidebar {
    position: relative;
    top: 140px;
    width: unset;
    height: unset;
    margin-top: -8px;
    margin-bottom: 0;
    border-right: unset;

    p {
      max-width: 320px;
    }

    hr {
      left: unset;
      width: 100%;
    }

    ul {
      width: 100%;
      margin-top: 0;
      margin-bottom: 160px;

      li {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }
}

// optimizations for mobile devices
@media (max-width: 660px) {
  .blog_sidebar ul {
    text-align: center;

    li {
      margin-right: unset;
      margin: 8px 10px 0;
    }
  }
}

// hides all at too small screens in order to show no responsive bugs
@media (max-width: 240px) {
  .blog_sidebar {
    display: none;
  }
}