// styles for the footer with the read more links, share options etc.

// layout container with everything inside
.blog_post_footer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: calc((100% - 144px) * 0.6 + 80px);
  max-width: 920px;
  font-family: var(--font-default);
  color: var(--color-font);
  padding-bottom: 40px;
  margin-bottom: 250px;

  // share link buttons
  &_share {
    position: relative;
    height: 90px;
    color: var(--color-font-gray);

    // share links
    a {
      position: relative;
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-right: 12px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 200ms;

      // background hover effect
      &:hover {
        background-color: var(--color-hover-light);
      }

      // icons for the different social media platforms
      img {
        transform: translate(12.5%, 12.5%); // centers the icon
        width: 80%;
        height: 80%;
      }
    }
  }

  // horizontal line
  hr {
    height: 1px;
    margin: 28px 0 48px;
    background-color: var(--color-container);
    border: none;
  }

  // read more heading
  h2 {
    display: inline;
    font: 2.2rem var(--font-heading);
  }

  // a back to all posts link
  &_all_posts {
    position: absolute;
    right: 0;
    font: 1.2rem var(--font-highlight);
    color: var(--color-font);
    text-decoration: none;
    padding: 4px 6px;
    margin: 0.5rem 0 12px;
    border-radius: 4px;
    transition: background-color 200ms;

    // hover effect for back to all posts link
    &:hover {
      background-color: var(--color-hover);
    }
  }

  // links to older blog posts
  &_linked_blog {
    display: block;
    position: relative;
    top: 40px;
    text-decoration: none;
    margin-top: 32px;
    cursor: pointer;
    transition: filter 200ms;

    // hover effect
    &:hover {
      filter: brightness(0.75);
    }

    // tag and date text outside the box
    &_outside {
      transform: translateY(4px);
      color: var(--color-font-gray);
    }

    &_date {
      // some extra layout styles for the date of publication for each blog post
      margin-top: -2.1rem;
      text-align: right;
    }

    &_flex {
      display: flex;
      gap: 20px;
    }

    &_box {
      // gray box with content
      width: 100%;
      background-color: var(--color-container);
      border-radius: 6px;

      // old blog preview title
      h3 {
        font-size: 1.8rem;
        font-weight: 500;
        color: var(--color-font);
        font-family: var(--font-default);
        line-height: 2rem;
        margin: 20px 16px 24px 16px;
      }

      // old blog preview description
      p {
        font-size: 1.1rem;
        font-family: var(--font-default);
        color: var(--color-font-gray);
        line-height: 1.6rem;
        text-align: justify;
        margin-inline: 16px;
      }

      // old blog preview image
      &_image {
        display: inline-block;
        width: 200px;
        object-fit: cover; // optimizes image scaling
        border-radius: 6px;
      }
    }
  }
}

// optimizes layout for smaller screens for better readability
@media (max-width: 1200px) {
  .blog_post_footer {
    width: calc(100% - 144px);
  }
}

// removes too large images on small screens for better readability
@media (max-width: 700px) {
  .blog_post_footer {
    width: calc(100% - 40px);

    &_linked_blog_box_image {
      display: none;
    }
  }
}

// small visual fix (removes overlapping read more heading and all posts button)
@media (max-width: 360px) {
  .blog_post_footer_read_more {
    display: block;
  }

  .blog_post_footer_all_posts {
    display: block;
    position: relative;
    left: 0;
    margin-top: -0.5rem;
  }
}

// small visual fix (removes overlapping topic and date in some cases)
@media (max-width: 300px) {
  .blog_post_footer_linked_blog_date {
    text-align: left;
    margin-top: -10px;
  }
}

// hides everything on too small screens
@media (max-width: 240px) {
  .blog_post_footer {
    display: none;
  }
}
