// styles for the our team section of the about page

.about_team { // main container
  margin: 200px 80px -80px 80px;

  &_title { // section title
    font-size: 4rem;
    font-family: var(--font-heading);
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
  }

  &_container { // container with two cards
    display: flex;
    margin-bottom: 80px;
    gap: 80px;
  }

  &_card { // member card
    display: flex;
    flex-grow: 1;
    padding: 16px 42px;
    gap: 20px;
    background-color: var(--color-container);
    border-radius: 4px;

    h2 { // card heading
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--color-font);
      font-family: var(--font-highlight);
    }

    p { // card content
      font-size: 1.2rem;
      color: var(--color-font);
      font-family: var(--font-default);
      line-height: 1.8rem;
    }

    img { // card image
      position: relative;
      top: 20px;
      width: 160px;
      height: calc(100% - 40px);
      border-radius: 4px;
      object-fit: cover;
    }
  }
}

@media (max-width: 1160px) { // optimization for medium size screens
  .about_team {
    margin-inline: 40px;

    &_container {
      margin-bottom: 40px;
      gap: 40px;
    }

    &_card {
      padding: 4px 24px;
    }
  }
}

@media (max-width: 960px) { // optimization for small screens
  .about_team_container {
    flex-direction: column;
  }

  .about_team_card {
    width: calc(100% - 40px);

    img {
      height: auto;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 480px) { // optimization for small screens
  .about_team {
    margin-top: 120px;

    &_title {
      font-size: 3rem;
    }
    
    &_card {
      flex-direction: column-reverse;
  
      img {
        width: 100%;
        margin-bottom: 12px;
      }
    }
  }
}