// styles for the our team section of the about page

// main container
.about_team {
  color: var(--color-font);
  margin: 200px 60px -80px;

  // section title
  &_title {
    font: 4rem var(--font-heading);
    text-align: center;
    margin: 80px 0 60px;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
  }

  // container with two cards
  &_container {
    display: flex;
    margin-bottom: 80px;
    gap: 40px;
  }

  // member card
  &_card {
    display: flex;
    flex-grow: 1;
    width: 50%;
    align-items: center;
    padding-inline: 32px;
    gap: 40px;

    // card heading
    h2 {
      font: 1.6rem var(--font-highlight);
    }

    // card content
    p {
      font: 1.2rem var(--font-default);
      line-height: 1.8rem;
    }

    // last card
    h2 {
      font: 1.4rem var(--font-highlight);
      text-align: center;
      line-height: 2.2rem;
    }

    // card image container
    &_image {
      position: relative;
      width: 200px;
      min-width: 200px; // small fix

      // image itself
      img {
        border-radius: 4px;
      }
    }
  }

  // positioning for the bottom text
  &_end {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    max-width: 800px;
    font: italic 3.2rem var(--font-serif);
    text-align: center;
    margin: 180px 0 220px;

    // highlighted words
    em {
      font: 3.4rem var(--font-heading);
      margin-inline: 4px -4px;
      background: var(--color-highlight-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--color-transparent);
    }
  }
}

// optimization for medium size screens
@media (max-width: 1200px) {
  .about_team {
    margin-inline: 40px;

    &_container {
      margin-bottom: 40px;
      gap: 40px;
    }

    &_card {
      padding: 4px 24px;
    }
  }
}

// optimization for small screens
@media (max-width: 960px) {
  .about_team_container {
    flex-direction: column;
  }

  .about_team_card {
    width: calc(100% - 40px);
    max-width: unset;
  }
}

// adjusting too big text
@media (max-width: 720px) {
  .about_team_end {
    font-size: 2.2rem;
    margin: 160px 0;

    em {
      font-size: 2.4rem;
    }
  }
}

// optimization for small screens
@media (max-width: 560px) {
  .about_team {
    margin: 120px 0 -80px;

    &_title {
      font-size: 3rem;
    }

    &_card {
      flex-direction: column-reverse;
      margin-top: 60px;
      gap: 12px;
    }
  }
}

// class for triggering the fade in down animation
.about_team_animation_fade_in_down {
  animation: fade-in-down 200ms;
}
// the items move a bit down and get visible
@keyframes fade-in-down {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// class for triggering the fade out down animation
.about_team_animation_fade_out_down {
  animation: fade-out-down 400ms;
}
// the items move a bit down and get invisible
@keyframes fade-out-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-40px);
    opacity: 0;
  }
}
