// The about banner is an area at the top with the about page with the introduction.

// banner box, background and position
.about_banner {
  display: flex; // for centering content
  align-items: center; // for centering content
  justify-content: center; // for centering content
  position: relative;
  width: calc(100% + 16px);
  min-height: calc(100vh - 62px);
  margin: 54px -8px 64px;
  background: var(--color-banner-gradient);
  overflow: hidden;

  // background triangle at the upper right corner
  &_circle_top {
    position: absolute;
    top: -50vh;
    width: 100vh;
    height: 100vh;
    border-radius: 50%; /*circle shape*/
    background-color: var(--color-banner-triangle-light);
  }

  // background triangle at the lower left corner
  &_circle_bottom {
    position: absolute;
    bottom: -50vh;
    width: 100vh;
    height: 100vh;
    border-radius: 50%; /*circle shape*/
    background-color: var(--color-banner-triangle-dark);
  }

  // positioning for the text and button
  &_content {
    width: 80vw;
    max-width: 800px;
    color: var(--color-font);
    font: italic 3.2rem var(--font-serif);
    text-align: center;
    padding-bottom: 80px;
    margin-top: 40px;
    z-index: 0;

    // highlighted words
    em {
      font: 3.4rem var(--font-heading);
      margin-inline: 4px -4px;
      background: var(--color-highlight-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--color-transparent);
    }
  }

  // the shape at the bottom is an overlay in the same color as se next section
  &_transition {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: var(--color-background);

    // actual shapes
    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 0;
      width: 30vw;
      border-bottom: 40px solid var(--color-background);
    }

    // trapezoid shape on the left
    &::before {
      left: 0;
      bottom: 40px;
      border-right: 40px solid var(--color-transparent);
    }

    // trapezoid shape on the right
    &::after {
      right: 0;
      bottom: 40px;
      border-left: 40px solid var(--color-transparent);
    }
  }
}

// the bottom transition shapes are smaller on mobile devices to look better
@media (max-width: 960px) {
  .about_banner_transition::before,
  .about_banner_transition::after {
    width: 20vw;
  }
}

// adjusting too big text
@media (max-width: 720px) {
  .about_banner_content {
    font-size: 2.4rem;

    em {
      font-size: 2.6rem;
    }
  }
}

// hides all at too small screens in order to show no responsive bugs
@media (max-width: 240px) {
  .about_banner {
    display: none;
  }
}
