// The product banner is an area at the top with the product page with a slogan and a get started button redirecting to the register page

// banner box, background and position
.product_banner {
  position: relative;
  width: calc(100% + 16px);
  height: calc(100vh - 62px);
  min-height: 540px; // fixes issues for screens not high enough
  color: var(--color-font);
  margin: 54px -8px 64px;
  background: var(--color-banner-gradient);
  overflow: hidden;

  // background shapes
  &_triangle_top,
  &_triangle_bottom {
    position: absolute;
    width: 0;
    height: 0;
  }

  // background triangle at the upper right corner
  &_triangle_top {
    top: 0;
    border-left: 50vh solid var(--color-transparent);
    border-top: 50vh solid var(--color-banner-triangle-light);
  }

  // background triangle at the lower left corner
  &_triangle_bottom {
    bottom: 0;
    border-right: 50vh solid var(--color-transparent);
    border-bottom: 50vh solid var(--color-banner-triangle-dark);
  }

  // positioning for the text and button
  &_content {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

    // text for slogan
    p {
      width: 80vw;
      max-width: 800px;
      font-style: italic;
      font-size: 3rem;
      font-family: var(--font-serif);
      text-align: center;
      margin: 0 0 2.4rem 0;

      // text under the main text
      &:nth-of-type(2) {
        font: 1.4rem var(--font-default);
        text-align: center;
        line-height: 2rem;
        margin-bottom: 80px;
      }
    }
  }

  // get started button, needed to be split in multiple classes, this class is for the positionig of the button
  &_get_started {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    color: var(--color-white);
    font-family: var(--font-highlight);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: 1.2rem 3.6rem;
    cursor: pointer;

    // the hover background was done in React because it did not work in CSS
    &_background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--color-highlight-gradient);
      border-radius: 4px;
      z-index: -1;
      transition: filter 200ms;
    }
  }

  // the shape at the bottom is an overlay in the same color as se next section
  &_transition {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: var(--color-background);

    // actual shapes
    &::before,
    &::after {
      content: '';
      position: absolute;
      border-bottom: 50px solid var(--color-background);
      height: 0;
      width: 30vw;
    }

    // trapezoid shape on the left
    &::before {
      left: 0;
      bottom: 40px;
      border-right: 50px solid var(--color-transparent);
    }

    // trapezoid shape on the right
    &::after {
      right: 0;
      bottom: 40px;
      border-left: 50px solid var(--color-transparent);
    }
  }
}

// the bottom transition shapes are smaller on mobile devices to look better
@media (max-width: 960px) {
  .product_banner_transition::before,
  .product_banner_transition::after {
    width: 20vw;
  }
}

// adjusting too big text
@media (max-width: 720px) {
  .product_banner_content p {
    font-size: 2.2rem;

    &:nth-of-type(2) {
      font-size: 1.2rem;
    }
  }

  .product_banner_get_started {
    font-size: 1.4rem;
    padding: 0.8rem 1.8rem;
  }
}

// adjusting too big text again
@media (max-width: 420px) {
  .product_banner {
    min-height: 700px;

    &_content p {
      font-size: 1.6rem;

      &:nth-of-type(2) {
        line-height: 1.8rem;
      }
    }
  }
}

// changing height to avoid overflow again
@media (max-width: 310px) {
  .product_banner {
    min-height: 800px;
  }
}

// hides everything at too small screens in order to show no responsive bugs
@media (max-width: 240px) {
  .product_banner {
    display: none;
  }
}
